<ion-header>
  <ion-toolbar>
    <ion-title>
      Tracking Session
    </ion-title>
    <!--<ion-buttons end>
      <custom-button *ngIf="(scope == 'admin') && !addMarkerEnabled && !finishMarkerEnabled" icon="add-circle" text="Enable Add Location" (notify)="enableAddMarker()"></custom-button>
      <custom-button *ngIf="(scope == 'admin') && addMarkerEnabled && !finishMarkerEnabled" icon="remove-circle" text="Cancel Add Location" (notify)="disableAddMarker(false)"></custom-button>
      <custom-button *ngIf="(scope == 'admin') && !addMarkerEnabled && finishMarkerEnabled" icon="checkmark-circle" text="Finish Add Location" (notify)="finishAddMarker()"></custom-button>
    </ion-buttons>-->
      <ion-buttons start>
        <custom-button icon="close-circle" text="Close Tracking Session" (notify)="dismiss()"></custom-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
  <div #map id="map"></div>
  <!--<ion-fab right top color="light">
    <button ion-fab color="light" (click)="goToMyPosition()"><ion-icon name="locate"></ion-icon></button>
  </ion-fab>
  <ion-fab right middle color="light">
    <button ion-fab color="dark"><ion-icon name="help-circle"></ion-icon></button>
    <ion-fab-list side="left">
      <div class="legend">
        <strong><u>Map Legend</u></strong><br><br>
        <img src="http://maps.google.com/mapfiles/ms/icons/yellow-dot.png"> No objectives at location<br>
        <img src="http://maps.google.com/mapfiles/ms/icons/red-dot.png"> Objectives not completed<br>
        <img src="http://maps.google.com/mapfiles/ms/icons/green-dot.png"> All objectives completed
        <ng-template [ngIf]="scope == 'admin'">
          <br><img src="http://maps.google.com/mapfiles/ms/icons/purple-dot.png"> New location
        </ng-template>
      </div>
    </ion-fab-list>
  </ion-fab>-->
</ion-content>
