<!--
  Generated template for the Users page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Users</ion-title>
    <ion-buttons end>
      <custom-button icon="add-circle" text="Add User" (notify)="addUserModal()"></custom-button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <h2>
        <ion-icon name="people"></ion-icon>
        Users list
      </h2>
    </ion-item>

    <ion-item-sliding *ngFor="let item of users; let i = index;">
      <ion-item>
  		  <button ion-button (click)="openUserModal({obj: item})">
  			   {{item.username}}
           <span ion-text *ngIf="item.isTracking">&nbsp;<ion-icon name="eye"></ion-icon></span>
  		  </button>
        <ion-note item-right>
           Score: <strong>{{item.score}}</strong>
        </ion-note>
      </ion-item>

      <ion-item-options>
        <button ion-button (click)="startTrackUser(item, i)" color="secondary" *ngIf="!item.isTracking">
            <ion-icon name="eye"></ion-icon>
            Start tracking
        </button>
        <button ion-button (click)="stopTrackUser(item, i)" color="primary" *ngIf="item.isTracking">
            <ion-icon name="eye-off"></ion-icon>
            Stop tracking
        </button>
        <button ion-button (click)="editUser(item)" color="light">
            <ion-icon name="paper"></ion-icon>
            Edit
        </button>
        <button ion-button (click)="deleteUser(item, i)" color="danger">
            <ion-icon name="trash"></ion-icon>
            Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
</ion-content>
